$accentColor = #0544a1

// Underline will clash with navbar
a:hover
	text-decoration: none !important 
	
// Hide site name in navbar
.navbar 
	.site-name
		color #fff

&.theme-default-content
	&:not(.custom)
		max-width 100% !important
	h1
		font-size 24px
	h2
		font-size 20px
		padding-top 65px !important
	h3
		font-size 16px
	h4
		font-size 15px
		padding-top 55px !important
	p
		font-size 15px
	table
		font-size 15px
		width 100%
	code
		font-size 14px !important
		border-radius: 5px !important
	pre
		code
			font-size 14px !important


.home	
	.hero
		img 
			width 128px
		h1
			font-size 36px
		.description
			font-size 16px
			color #444
	h3
		font-size 18px !important

.page-nav
	max-width 100% !important

.footer
	font-size 11px
	color #999 !important
	border-top none !important
	margin: 0
	padding-bottom: 25px
	text-align: center

